<md-toolbar layout="row" class="md-primary md-toolbar-tools">
  <md-button ng-link="home({id:'_'})" class="menu md-icon-button" >
    <md-icon class="md-48" >assignment</md-icon>
  </md-button>
  <h2 class="md-display-1">Getting Things Done to the edge</h2>
  <span flex></span>
  <md-icon>search</md-icon>
  <md-input-container flex="35" layout-padding class="md-accent">
    <label for="">search</label>
    <input ng-style="{color:'white'}"  type="text" placeholder="search..." >
  </md-input-container>
  <span flex="5"></span>
</md-toolbar>