<!--nav bar with look anf feel-->
<md-toolbar layout="row" class="md-primary md-toolbar-tools">
	<!--link to navigate to 'states'-->
	<md-button ng-link="home" class="menu md-icon-button">
		<md-icon class="md-48">assignment</md-icon>
	</md-button>
	<!--custom classes-->
	<h2 class="md-display-1">Getting Things Done to the edge</h2>
	<!--flex to align to the end-->
	<span flex></span>
	<md-icon>search</md-icon>
	<md-input-container flex="35" layout-padding class="md-accent">
		<label for="">search</label>
		<input ng-style="{color:'white'}" type="text" placeholder="search...">
	</md-input-container>
	<span flex="5"></span>
</md-toolbar>
