<md-sidenav md-is-locked-open="true"
  layout="column"
  layout-fill>
  <md-list>
    <md-list-item>
      <md-button ng-link="home({s:'_',q:'_'})" >
        <md-icon ng-style="{color: 'teal', 'margin-top':'6'}">assignment</md-icon>
      </md-button>
      <p>{{sidebar.taskCounter.allTasks}} All tasks</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item >
      <md-button ng-link="home({s:'new',q:'_'})">
        <md-icon ng-style="{color: 'blue', 'margin-top':'6'}">inbox</md-icon>
      </md-button>
      <p>{{sidebar.taskCounter.newTasks}} New</p>
    </md-list-item>
    <md-list-item>
      <md-button ng-link="home({s:'scheduled',q:'_'})">
        <md-icon ng-style="{color: 'orange', 'margin-top':'6'}">alarm</md-icon>
      </md-button>
      <p>{{sidebar.taskCounter.scheduledTasks}} Scheduled</p>
    </md-list-item>
    <md-list-item>
      <md-button ng-link="home({s:'done',q:'_'})">
        <md-icon  ng-style="{color: 'green', 'margin-top':'6'}">done</md-icon>
      </md-button>
      <p>{{sidebar.taskCounter.doneTasks}} Done</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
  <div flex></div>
  <a href="http://academia-binaria.com">Academia Binaria</a>
  <div flex="5"></div>
</md-sidenav>
