<md-toolbar layout="row" flex class="md-accent">
	<md-list>
		<md-list-item>
			<md-icon>alarm</md-icon>
			<div class="md-list-item-text">
				<h3>Today tasks</h3>
			</div>
		</md-list-item>
	</md-list>
	<div flex></div>
</md-toolbar>
<md-content flex layout-padding>
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="task in todayTasks.tasks | orderBy:'-id'" >
			<md-checkbox ng-model="task.done" ng-change=" todayTasks.updateTask(task.id)"></md-checkbox>
			<div class="md-list-item-text">
					<h3>{{task.title}}</h3>
					<p>{{task.description}}</p>
			</div>	
		</md-list-item>
	</md-list>
</md-content>
