<md-content layout="row" layout-align="start center">
	<span flex></span>
	<md-card flex="80">
		<md-card-title layout="row">
			<md-card-title-text layout="column">
				<span class="md-headline">Mi tarea para hacer</span>
				<span class="md-subhead">Estado</span>
			</md-card-title-text>
			<span flex></span>
			<md-card-title-media>
				<md-icon>inbox</md-icon>
			</md-card-title-media>
		</md-card-title <md-card-content>
		<p>Formulario para editar fecha y descripciones</p>
		<p>Con muchas cosas</p>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button><md-icon>delete</md-icon>Borrar</md-button>
			<md-button class="md-primary"><md-icon>save</md-icon>Guardar</md-button>
		</md-card-actions>
	</md-card>
	<span flex></span>
</md-content>