<!--semantic elements-->
<md-sidenav md-is-locked-open="true">
	<md-list>
		<md-list-item>
			<md-button>
				<md-icon ng-style="{color: 'teal'}">assignment</md-icon>
			</md-button>
			<p>All tasks</p>
		</md-list-item>
		<md-list-item>
			<md-button>
				<md-icon ng-style="{color: 'blue'}">inbox</md-icon>
			</md-button>
			<p>New</p>
		</md-list-item>
		<md-list-item>
			<md-button>
				<md-icon ng-style="{color: 'orange'}">alarm</md-icon>
			</md-button>
			<p>Scheduled</p>
		</md-list-item>
		<md-list-item>
			<md-button>
				<md-icon ng-style="{color: 'green'}">done</md-icon>
			</md-button>
			<p>Done</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<md-button>
				<md-icon class="md-accent">add</md-icon>
			</md-button>
			<p>New Task</p>
		</md-list-item>
	</md-list>
</md-sidenav>
