<div layout="row">
  <div flex="5"></div>
  <md-content class="md-padding">
    <div layout-sm="column">
      <form name="taskForm" data-ng-submit="editTask.saveTask()">
        <md-input-container>
          <label>Title:</label>
          <input ng-model="editTask.task.title">
        </md-input-container>
        <md-input-container flex>
          <label>Description:</label>
          <textarea ng-model="editTask.task.description" columns="1"></textarea>
        </md-input-container>
        <md-input-container flex>
          <label>Created Date:</label>
          <input ng-model="editTask.task.createdDate" type="date" readonly>
        </md-input-container>
        <md-input-container flex>
          <label>Due Date:</label>
          <input ng-model="editTask.task.dueDate" type="date">
        </md-input-container>
        <md-input-container flex>
          <label>Done:</label>
          <input ng-model="editTask.task.done" type="checkbox"></input>
        </md-input-container>

        <md-button type="submit" class="md-primary">Save Task</md-button>
      </form>
    </div>
  </md-content>
  <div flex="5"></div>
</div>