<md-toolbar layout="row" flex class="md-accent">
  <div flex="5"></div>
  <md-list layout="row">
    <md-list-item>
      <md-icon>edit</md-icon>
      <div class="md-list-item-text">
        <h3>Task editor</h3>
      </div>
    </md-list-item>
    <md-list-item>
      <md-icon>home</md-icon>
      <div class="md-list-item-text">
        <a ng-link="landing"><h3>Go Home</h3></a>
      </div>
    </md-list-item>
  </md-list>
  <div flex="5"></div>
</md-toolbar>
<md-content layout="row" class="md-padding">
  <div flex="5"></div>
  <form flex="90" name="taskForm" data-ng-submit="editTask.saveTask()">
    <md-input-container>
      <label>Title:</label>
      <input ng-model="editTask.task.title">
    </md-input-container>
    <md-input-container flex>
      <label>Description:</label>
      <textarea ng-model="editTask.task.description" columns="1"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>Created Date: (read only)</label>
      <input ng-model="editTask.task.createdDate" type="date" readonly>
    </md-input-container>
    <div flex ng-hide="editTask.task.dueDate">
      <label>Hurry up! Schedule this task:</label>
      <md-datepicker ng-model="editTask.task.dueDate" md-placeholder="Enter a Due date"></md-datepicker>
    </div>
    <md-input-container flex ng-show="editTask.task.dueDate">
      <label>Due Date:</label>
      <input ng-model="editTask.task.dueDate" type="date">
    </md-input-container>
    <div flex>
      <label>Is it Done?:</label>
      <md-checkbox ng-model="editTask.task.done">Done</md-checkbox>
    </div>  
    <md-button type="submit" class="md-primary md-raised">Save Task</md-button>
  </form>
  <div flex="5"></div>
</md-content>