<md-list  >
  <md-list-item>
    <md-button>
      <md-icon>alarm</md-icon>
    </md-button>
    <p >Importante</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>alarm</md-icon>
    </md-button>
    <p>Una Tarea para hacer</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>done</md-icon>
    </md-button>
    <p>Una Tarea ya hecha !!!!</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>alarm</md-icon>
    </md-button>
    <p>Una Tarea agendada</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>inbox</md-icon>
    </md-button>
    <p>Una Tarea importante que no ha sido agendada</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>inbox</md-icon>
    </md-button>
    <p>Una Tarea importante</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>done</md-icon>
    </md-button>
    <p>Una Tarea con un texto muy largo y poco contenido :-)</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item>
    <md-button>
      <md-icon>done</md-icon>
    </md-button>
    <p>Una Tarea ya hecha !!!!</p>
    <md-button>
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-list-item>
</md-list>