<md-toolbar layout="row" flex class="md-accent">
	<md-list>
		<md-list-item>
			<md-icon>alarm_add</md-icon>
			<div class="md-list-item-text">
				<h3>New tasks</h3>
			</div>
		</md-list-item>
	</md-list>
	<div flex></div>
</md-toolbar>
<md-content flex layout-padding>
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="task in newTasks.tasks" >
			<md-button  class="md-fab md-primary" ng-link="editTask({id:task.id})">
				<md-icon>edit</md-icon>
			</md-button>
			<div flex="80" class="md-list-item-text" >
				<h3>{{task.title}}</h3>
				<p>{{task.description}}</p>
				<h4>Created Date:{{task.createdDate | date}}</h4>
			</div>
		</md-list-item>
	</md-list>
</md-content>
